<div class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    
      <app-header></app-header>
    
      <!-- Main Sidebar Container -->
      <app-menu-izquierdo></app-menu-izquierdo>


      <div class="content-wrapper">


        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{AccionEntidad}}</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#/panel">Panel</a></li>
                  <!-- <li class="breadcrumb-item active">Panel v1</li> -->
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>


        <!-- Content Header (Page header) -->        
          <div class="container-fluid">

<!------------------------------        Codigo HTML Propio del componente      ------------------------>



    <div class="row ">      
      <div class="offset-lg-3 col-md-6 col-lg-6 col-xs-12 off mt-2 ">
        <div class="card card-primary ">
          <div class="card-header">
            <h3 class="card-title">{{AccionEntidad}}</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div> 
          <form  [formGroup]="form">                                   
            <!-- input states -->
            <div class="card-body">
          <div class="col-12">  
                <div class="form-group">
                  <label class="col-form-label" for="inputSuccess"> Título</label>
                  <input formControlName="Titulo" id="Titulo"   type="text" class="form-control"  >                  
                    <div style="color:#FF084E" *ngIf="form.get('Titulo').hasError('required') && form.get('Titulo').touched">Ingrese un Título</div>  
                    <div style="color:#FF084E" *ngIf="form.get('Titulo').hasError('pattern') && form.get('Titulo').touched">Ingrese solo letras</div>                   
              </div>
          </div>         
          <div class="col-12">  
            <!-- <div class="form-group">
              <label class="col-form-label" for="inputWarning">Tipo</label>
              <ng-select bindLabel="NombreTipoRecurso"
              placeholder="Seleccione"
              appendTo="body"
              formControlName="categoria"
              [searchable]="true" 
              [clearable]="true">
              <ng-option [value]="item"  *ngFor="let item of tiposrecursos"> {{item.NombreTipoRecurso}}                                  
              </ng-option>
              </ng-select> 
              <div style="color:#FF084E" *ngIf="form.get('categoria').hasError('required') && form.get('categoria').touched">Ingrese una categoría</div>              
            </div> -->

           

          </div>
          <div class="col-12">  
          <div class="form-group">
              <label class="col-form-label" for="inputWarning">Detalle</label>                           
                   <ckeditor  formControlName="CuerpoRecurso" [editor]="Editor" data=""></ckeditor>  
                   <div style="color:#FF084E" *ngIf="form.get('CuerpoRecurso').hasError('required') && form.get('CuerpoRecurso').touched">Ingrese un detalle</div>                                             
              </div>               
             
            </div>                                                      
              <div class="col-12 mb-3" >                              
              <button (click)="compartir($event)" type="button" class="btn btn-block btn-primary">Guardar</button>
            </div>
              </div>                                    
          </form>
        </div>

      </div>

       
    </div>


<!------------------------------  FIN      Codigo HTML Propio del componente      ------------------------>



    <!-- /.card -->
  </div>
</div>

  <app-footer></app-footer>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
</div>